@import "../../styles/variables";

.flight {
  background-color: $secondary-color;
  padding: 0.8rem;
  margin: 1.2rem;
  height: 16rem;
  width: 23rem;
  color: $third-color;
  box-sizing: border-box;
  font-size: 1.1rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px $primary-shadow;

  h3 {
    margin: 0.3rem 0 0.8rem 0;
    font-size: 20px;
    text-align: center;

    span {
      color: black;
    }
  }

  p {
    padding-bottom: 0.5rem;
  }

  .position {
    display: flex;
  }

  i {
    width: 1.2rem;
    margin-right: 1rem;
    color: $primary-color;
  }

  &:hover {
    background-color: $fifth-color;
    color: $secondary-hover-color;
    border: 1px solid primary-hover-border;
    box-shadow: 2px 2px 2px $fourth-shadow;
    cursor: pointer;

    i {
      color: $secondary-hover-color;
    }
  }

  &:active {
    box-shadow: none;
  }
}

@media (max-width: $small) {
  .flight {
    height: 13rem;
    width: 18rem;
    font-size: 0.8rem;

    h3 {
      font-size: 15px;
    }
  }
}

@media (max-width: $x-small) {
  .flight {
    margin: 0.6rem;
    height: 11rem;
    width: 13.5rem;
    font-size: 0.7rem;

    & > p:last-child {
      display: none;
    }
  }
}
