// General
$primary-color: #0e4682;
$primary-border: #0a3666;
$primary-shadow: #082e57;

$secondary-color: #dadce6;

$third-color: #0d073d;

$fourth-color: #c5ccf0;
$fourth-shadow: #7eb0e6;

$fifth-color: #bbc4f0;
$fifth-border: #6875a8;

$sixth-color: #fbfaff;

// Hover
$primary-hover-color: #2473c7;
$primary-hover-border: #2473c7;
$primary-hover-shadow: #1e4c7e;

$secondary-hover-color: #091e35;


// Breakpoints
$large: 950px;
$medium: 780px;
$small: 550px;
$x-small: 420px;