@import "../../styles/variables";

.navbar {
  background-color: $fifth-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 0 1rem;
  box-sizing: border-box;
  border-right: 1px solid $fifth-border;
  transition: 0.5s ease;
  overflow: hidden;
  white-space: nowrap;

  &--desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-arrow {
      padding-bottom: 2rem;
      text-shadow: 1px 1px 8px $primary-shadow;
      cursor: pointer;

      &:hover {
        color: black;
        text-shadow: 3px 3px 15px $fourth-shadow;
      }

      &:active {
        text-shadow: none;
      }
    }

    p {
      font-family: "Azeret Mono", monospace;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.8rem;
    }

    ul {
      padding-top: 2rem;
    }
  }
}
